# Web analytics Final Exam

## Online Sales Data

In [1]:
import pandas as pd

file_path = 'online_sales_full.xls'  
data = pd.read_excel(file_path)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
data.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

Online Sales Data has 0 null values

## Covid Activity Dataset

In [4]:
import pandas as pd

file_path = 'covid_activity.csv'
data = pd.read_csv(file_path)

print("Data types before conversion:")
print(data.dtypes)
for col in data.columns:
    col_type = data[col].dtype
    
    if col_type == 'float64':
        data[col] = pd.to_numeric(data[col], downcast='float')
    elif col_type == 'int64':
        data[col] = pd.to_numeric(data[col], downcast='integer')

print("\nData types after conversion:")
print(data.dtypes)

Data types before conversion:
PEOPLE_POSITIVE_CASES_COUNT          int64
COUNTY_NAME                         object
PROVINCE_STATE_NAME                 object
REPORT_DATE                         object
CONTINENT_NAME                      object
DATA_SOURCE_NAME                    object
PEOPLE_DEATH_NEW_COUNT               int64
COUNTY_FIPS_NUMBER                 float64
COUNTRY_ALPHA_3_CODE                object
COUNTRY_SHORT_NAME                  object
COUNTRY_ALPHA_2_CODE                object
PEOPLE_POSITIVE_NEW_CASES_COUNT      int64
PEOPLE_DEATH_COUNT                   int64
dtype: object

Data types after conversion:
PEOPLE_POSITIVE_CASES_COUNT          int32
COUNTY_NAME                         object
PROVINCE_STATE_NAME                 object
REPORT_DATE                         object
CONTINENT_NAME                      object
DATA_SOURCE_NAME                    object
PEOPLE_DEATH_NEW_COUNT               int16
COUNTY_FIPS_NUMBER                 float32
COUNTRY_ALPHA_3_CODE                object
COUNTRY_SHORT_NAME                  object
COUNTRY_ALPHA_2_CODE                object
PEOPLE_POSITIVE_NEW_CASES_COUNT      int32
PEOPLE_DEATH_COUNT                   int32
dtype: object

In [5]:
data.head()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,2537,NaN,NaN,2021-01-10,Africa,JHU CSSE Global Timeseries,0,NaN,TCD,Chad,TD,27,107
1,266,NaN,Nunavut,2021-01-10,America,JHU CSSE Global Timeseries,0,NaN,CAN,Canada,CA,0,1
2,3072349,NaN,NaN,2021-01-10,Europe,JHU CSSE Global Timeseries,563,NaN,GBR,United Kingdom,GB,54940,81431
3,230578,NaN,NaN,2021-01-10,Asia,JHU CSSE Global Timeseries,6,NaN,ARE,United Arab Emirates,AE,2876,708
4,196,NaN,NaN,2021-01-10,America,JHU CSSE Global Timeseries,0,NaN,BES,"Bonaire, Sint Eustatius and Saba",BQ,0,3

In [6]:
data.shape

(1048575, 13)

In [7]:
data.isnull().sum()

PEOPLE_POSITIVE_CASES_COUNT            0
COUNTY_NAME                        20774
PROVINCE_STATE_NAME                16515
REPORT_DATE                            0
CONTINENT_NAME                       266
DATA_SOURCE_NAME                       0
PEOPLE_DEATH_NEW_COUNT                 0
COUNTY_FIPS_NUMBER                 35050
COUNTRY_ALPHA_3_CODE                 266
COUNTRY_SHORT_NAME                     0
COUNTRY_ALPHA_2_CODE                 347
PEOPLE_POSITIVE_NEW_CASES_COUNT        0
PEOPLE_DEATH_COUNT                     0
dtype: int64

In [8]:
columns_of_interest = ['COUNTY_NAME', 'PROVINCE_STATE_NAME', 'CONTINENT_NAME','COUNTY_FIPS_NUMBER','COUNTRY_ALPHA_3_CODE','COUNTRY_ALPHA_2_CODE']

cleaned_data = data.dropna(subset=columns_of_interest)

In [9]:
cleaned_data.isnull().sum()

PEOPLE_POSITIVE_CASES_COUNT        0
COUNTY_NAME                        0
PROVINCE_STATE_NAME                0
REPORT_DATE                        0
CONTINENT_NAME                     0
DATA_SOURCE_NAME                   0
PEOPLE_DEATH_NEW_COUNT             0
COUNTY_FIPS_NUMBER                 0
COUNTRY_ALPHA_3_CODE               0
COUNTRY_SHORT_NAME                 0
COUNTRY_ALPHA_2_CODE               0
PEOPLE_POSITIVE_NEW_CASES_COUNT    0
PEOPLE_DEATH_COUNT                 0
dtype: int64

In [11]:
cleaned_data.to_csv('cleaned_covid_activity.csv',index=False)

## Data has been saved